<!--
<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>-->
<div class="view-req-description-background-contactAxa contactAxa hide">
		<!-- Toggle the class hide on success of service calls -->
		<div class="description-popup-contactAxa clearfix">
			<!--<div class="pull-left desc-close"><span class="contactAxa-close close"></span></div>-->
			<div class="contact clearfix">
				<div class="contact-header-wrapper">
					<header class="contact-header clearfix">
						<div class="text-center">
							<span class="service-name-contact">Contact AXA</span><span
								class="contactAxa-close close"></span>
						</div>
					</header>
				</div>
				<div class="description-popup-contactAxa-content">
					<div class="contact-details-header">
						<ul class="clearfix list-unstyled">
							<li class="col-xs-4"><span>Service</span></li>
							<li class="col-xs-4 text-center"><span>Phone Number</span></li>
							<li class="col-xs-4 text-center"><span>Hours</span></li>
						</ul>
					</div>
					<div class="contact-details-body">
						<div class="contact-inner-content">
							<p>Annuities</p>
							<div>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>Accumulator</span><span
										class="register"></span></li>
									<li class="col-xs-4"><span>(800) 789-7771</span></li>
									<li class="col-xs-4"><span>Monday - Friday 8:30 AM
											- 5:30 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>Accumulator</span><span
										class="register"></span> New Business</li>
									<li class="col-xs-4"><span>(877) 433-4238</span></li>
									<li class="col-xs-4"><span>Monday - Friday 9:00 AM
											- 5:00 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>Crossings</span><span
										class="register"></span></li>
									<li class="col-xs-4"><span>800) 862-6669</span></li>
									<li class="col-xs-4"><span>Monday - Thursday 8:00
											AM - 6:30 PM ET</span> <span>Friday 8:00 AM - 5:00 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>EQUI-VEST</span><span
										class="register"></span></li>
									<li class="col-xs-4"><span>(800) 628-6673</span></li>
									<li class="col-xs-4"><span>Monday - Thursday 8:00
											AM - 6:30 PM ET</span> <span>Friday 8:00 AM - 5:00 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>Income Pay</span></li>
									<li class="col-xs-4"><span>(800) 245-1230</span></li>
									<li class="col-xs-4"><span>Monday - Friday 9:00 AM
											- 5:00 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>Momentum/Retirement
											Strategies</span><span class="sm-icon">SM</span></li>
									<li class="col-xs-4"><span>(800) 528-0204</span></li>
									<li class="col-xs-4"><span>Monday - Thursday 8:30
											AM - 6:30 PM ET</span> <span>Friday 8:30 AM - 5:00 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>Single Premium Deferred
											Annuity(SPDA)</span></li>
									<li class="col-xs-4"><span>(800) 628-7789</span></li>
									<li class="col-xs-4"><span>Monday - Friday 9:00 AM
											- 5:00 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>300 Plus Series</span></li>
									<li class="col-xs-4"><span>(800) 248-2138</span></li>
									<li class="col-xs-4"><span>Monday - Friday 9:00 AM
											- 5:00 PM ET</span></li>
								</ul>
								<div class="contact-inner-content">
									<p>Life Insurance</p>
									<div>
										<ul class="clearfix list-unstyled">
											<li class="col-xs-4"><span>Advisor Service Line</span></li>
											<li class="col-xs-4"><span>(800) 888-9763</span></li>
											<li class="col-xs-4"><span>Monday - Friday 8:00
													AM - 6:30 PM ET</span></li>
										</ul>
										<ul class="clearfix list-unstyled">
											<li class="col-xs-4"><span></span></li>
											<li class="col-xs-4"><span>(800) 777-6510</span></li>
											<li class="col-xs-4"><span>Monday - Friday 8:00
													AM - 6:30 PM ET</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="contact-details-header">
							<ul class="clearfix list-unstyled">

								<li class="col-xs-4"><span>MONY</span></li>
								<li class="col-xs-4 text-center"><span>Phone Number</span>
								</li>
								<li class="col-xs-4 text-center"><span>Hours</span></li>

							</ul>
						</div>

						<div class="contact-inner-content">
							<ul class="clearfix list-unstyled">
								<li class="col-xs-4"><span>Annuities</span></li>
								<li class="col-xs-4"><span>(800) 487-6669</span></li>
								<li class="col-xs-4"><span>Monday - Thursday 8:00 AM
										- 6:30 PM ET</span><span> Friday 8:00 AM - 5:00 PM ET</span></li>
							</ul>
							<ul class="clearfix list-unstyled">
								<li class="col-xs-4"><span>Life Insurance</span></li>
								<li class="col-xs-4"><span>(800) 487-6669</span></li>
								<li class="col-xs-4"><span>Monday - Thursday 8:00 AM
										- 6:30 PM ET</span> <span>Friday 8:00 AM - 5:00 PM ET</span></li>
							</ul>
						</div>
					</div>
					<div class="contact-details-header">
						<ul class="clearfix list-unstyled">

							<li class="col-xs-4"><span>AXA Advisors</span></li>
							<li class="col-xs-4 text-center"><span>Phone Number</span></li>
							<li class="col-xs-4 text-center"><span>Hours</span></li>

						</ul>
					</div>
					<div class="contact-inner-content">
						<ul class="clearfix list-unstyled">
							<li class="col-xs-4"><span>Brokerage Products</span></li>
							<li class="col-xs-4"><span>(866) 487-7484</span></li>
							<li class="col-xs-4"><span>Monday - Friday 8:30 AM -
									6:30 PM ET</span></li>
						</ul>
					</div>
				</div>

				<div class="desc-content">
					<button class="exit one-button-width contact-ok">OK</button>
				</div>
			</div>
		</div>
	</div>
	<!-- notifications popover  -->

	<ul
		class="clearfix dropdown-menu notifications-popover-wrapper list-unstyled">
		<li class="upload-doc hide"><a class="clearfix" href="#"> <span
				class="upload-doc-img pull-left"></span> <span class="pull-left">Upload
					Document</span> </a>
			<div class="divider"></div></li>
		<li class="view-req-description"><a class="clearfix" href="#">
				<span class="view-req-description-img pull-left"></span> <span
				class="pull-left">View Requirement Description</span> </a>
			<div class="divider"></div></li>
		<li class="view-req" id="viewRequirement"><a class="clearfix"
			href="#"> <span class="view-req-img pull-left"></span> <span
				class="pull-left">View All Requirements</span> </a>
			<div class="divider"></div></li>
		
		<li id="view-contract-id" class="view-contract-info"><a
			class="clearfix" href="#"> <span
				class="view-contract-info-img pull-left"></span> <span
				class="pull-left">View Contract Information</span> </a>
			<div class="divider"></div></li>
		<li id="emailCase" class="email-case-manager"><a
			class="clearfix email-case-wrapper" href="#"> <span
				class="email-case-manager-img pull-left"></span> <span
				class="pull-left">Email (Case Manager)</span> </a>
			<div class="divider"></div></li>
		<li id="emailOthers" class="email-others"><a
			class="clearfix email-others-wrapper" href="#"> <span
				class="email-others-img pull-left"></span> <span
				class="pull-left email-oth-con">Email (Others)</span> </a>
			<div class="divider"></div></li>
		<li class="contact-axa"><a class="clearfix" href="#"> <span
				class="contact-axa-img pull-left"></span> <!--<a href="#" ">--> <span
				class="pull-left">Contact AXA</span> </a> <!--</a>--></li>
	</ul>
	<div class="landing-notifications clearfix">
		<div class="view-req-description-background hide">
			<!-- Toggle the class hide on success of service calls -->
			<div class="description-popup clearfix">
				<div class="pull-left desc-close">
					<span class="close"></span>
				</div>
				<div class="pull-left desc-content">
					<p class="content"></p>
					<button class="exit one-button-width">OK</button>
				</div>
			</div>
		</div>
		<div class="loading-background hide">
			<!-- Toggle the class hide on success of service calls-->
			<div class="loading"></div>
		</div>
		<div class="new-notifications">
			<div class="new-notifications-header">
				<ul class="clearfix list-unstyled">
					<li class="col-md-3 pull-left home-wrapper">
						<div id="ladingHome" class="landing-home pull-left hide">
							<span class="">Home</span>
						</div> <!--  <div id="backHome" class="landing-home pull-left hide"><span class="">Back</span></div> -->
					</li>
					<li class="service-name text-center pull-left"
						id="notifyOutstandingWrapper"><span
						class="landing-header-wrapper"> <span
							class="landing-header-content">New Notifications</span> <span
							class="hide" id="landing-header-content-txt"><span>
									for </span><span id="landing-header-content-value"></span>
						</span> </span> <!-- <a href="#" id="clientShowAllLink" class="clientShowAll showall-notify-outstand-wrapper hide"><span class="showall-content">Show All Clients/Policies</span></a> -->
						<span class="hide" id="businessSearchWrapper"> <span
							class="policy-search-wrapper"> <input type="text"
								id="policy-search" class="search form-control"
								placeholder="Insured Name or Policy / Contract#" /> <span
								class="search-icon icon"></span> </span> <span class="advanced-search" data-toggle="modal" data-target="#advancedSearch">Advanced
								Search</span> </span></li>

					<!-- 2-20-2015 Print-Report Button Added starts -->
					<li class="pull-left landing-header-report-icon reports"><a
						href="/axae/myportal/rad/util/reports/" data-role="none"
						class="pull-right landing-page-report"> <span
							class="icon reportIcon pull-left"></span> <span
							class="report-content pull-left">Reports</span> </a></li>


					<li class="pull-left landing-header-print-icon"><a href="#"
						data-role="none" class="pull-right landing-page-print"
						id="landingPrint" data-toggle="modal"> <span
							class="icon printIcon pull-left"></span> <span
							class="print-content pull-left">Print</span> </a></li>
					<!-- Print-Report Button Added ends-->

					<!-- 2-20-2015-col-md-2 change to 1 starts -->
					<li class="pull-right landing-page-refresh-wrapper col-md-1">

						<a href="#" class="pull-right landing-page-refresh"> <span
							class="refresh-content pull-left">Refresh</span> <span
							class="refresh-img"></span> </a></li>
				</ul>

				<!-- 23-2-2015 show-all-link Added starts -->
				<div class="show-all-links">
					<a href="#" id="clientShowAllLink"
						class="clientShowAll showall-notify-outstand-wrapper hide"><span
						class="showall-content">Show All Clients/Policies</span>
					</a>
				</div>
				<!-- 23-2-2015 Added starts -->

			</div>
			<ul class="nav nav-tabs req-suitrev-menu hide" role="tablist">
				<li class="require active"><a href="#reqTable" role="tab"
					data-toggle="tab" id="requirementLink">Requirements</a></li>
				<li class="suitrev"><a href="#suitrevTable" role="tab"
					data-toggle="tab" id="suitLink">Suitability Review</a></li>
			</ul>

			<div class="tab-content hide" id="reqSuitReview">
				<div class="tab-pane active" id="reqTable">
					<table
						class="landing-data-content-info list-unstyled os_items_reqtable dataTable"
						id="landingDataTableOne" style="width: 100%;">

					</table>
					<table
						class="landing-data-content-info list-unstyled os_items_reqotherstable dataTable"
						id="landingDataTableOthersOne" style="width: 100%;">

					</table>
				</div>
				<div class="tab-pane" id="suitrevTable">
					<table
						class="landing-data-content-info list-unstyled os_items_suitrevtable dataTable"
						id="landingDataTabletwo" style="width: 100%;">
					</table>
				</div>
			</div>
			<div class="landing-data-content">
				<p class="no-data-found display-none"></p>
				<table class="landing-data-content-info list-unstyled dataTable"
					id="landingDataTable" style="width: 100%;">

				</table>
			</div>

			<!-- landing-data-content end -->

			<div class="landing-page-footer">
				<ul class="landing-footer list-unstyled clearfix">
					<li class="footer-notifications footer-active col-xs-3">
						NOTIFICATIONS <span class="count count-active">0 </span></li>
					<li class="footer-req-agent col-xs-3">O/S ITEMS: ADVISOR <span
						class="count">0 </span></li>
					<li class="footer-service-center col-xs-3">O/S ITEMS: OTHERS <span
						class="count">0 </span></li>
					<li class="footer-business-list no-right-border col-xs-3">NEW
						BUSINESS LIST <span class="count">0 </span></li>
				</ul>
			</div>
			<!-- footer end -->

			


			<!-- landing-data end -->
		</div>
		<!-- new-notifications end -->

		<div class="modal fade" id="advancedSearch">
		<div class="modal-dialog advanced-search-popup-wrapper">
		<div class="modal-content">
		<div class="clearfix">
        <button type="button" class="close" data-dismiss="modal" data-role="none" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
		<div class="advanced-search-popup">
				<form target="_blank">
					<label class="advanced-search-popup-label">Contract# /
						Insured (or) Annuitant Name</label> <input type="text" class="contract-insured form-control" data-role="none">
					<div class="products">
						<label>Product</label> <input type="text" class="products-text form-control" data-role="none">
					</div>
					<div class="status">
						<label>Status</label> <select class="status-text" id="statusSelect">
							<option>All</option>
							<option>Cond Issued</option>
							<option>Declined</option>
							<option>Declined Incomplete</option>
							<option>Incomplete</option>
							<option>Inforce</option>
							<option>Issued</option>
							<option>Issued, Pending Delivery Req</option>
							<option>NTO/Cancelled</option>
							<option>Offer</option>
							<option>Offer Accepted</option>
							<option>Offer Expired</option>
							<option>Pending</option>
							<option>Postponed</option>
							<option>Printed, Pending Delivery Req</option>
							<option>Suspnd - Express</option>
							<option>Suspnd - Underwriting</option>
							<option>Suspnd - Underwriting &amp; Express</option>
							<option>Underwriting Complete</option>
							<option>UW Complete,Pending Rqmts</option>
							<option>UW Complete,Rqmts complete</option>
							<option>Withdrawn</option>
						</select>
					</div>
					<div class="amount-slider">
						<label>Amount</label>
						<div id="amount-slider-div">
							<input id="amount-range-Slider" class="display-none"
								type="slider" name="price" value="0;0" style="display: none;">
						</div>
					</div>
					<div class="days-outstanding-slider">
						<label class="days-outstanding-slider-label">Days
							Outstanding</label> <span class="days-outstanding-not-applicable-wrapper">
							<input type="checkbox" name=" " class="days-outstanding-checkbox"
							value=" "> <label class="not-applicable">Include
								in search criteria</label> </span>
						<div id="outstanding-slider-div">
							<input id="outstanding-range-Slider" class="display-none"
								type="slider" name="price" value="0;0" style="display: none;">
						</div>
					</div>
					<div class="search-clear-buttons">
						<span class="clear-button" id="advanceSearchClear"> Clear </span>
						<span class="search-button" id="advancedSearchBtn"> Search </span>
					</div>

				</form>
			</div>
			</div>
			</div>
		</div>
		<div id="myModal" class="modal fade email-popup"  role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog email-popup-wrapper">
				<div class="modal-content">
					<div class="modal-header email-popup-header-wrapper clearfix">

						<header class="menuBar col-xs-12">
							<div class="row">
								<!-- body content //-->
								<div class="col-xs-4 col-lg-3">
									<div class="axaLogo">
										<!-- <a href="/axae/myportal/rad/" class="ui-link"> -->
											<img src="../img/logo-AXA.png" />
										<!-- </a> -->
									</div>
								</div>
								<div class="col-xs-8 col-lg-9 email-popup-head-right">
									<span class="pull-right">Business Tracker</span>
								</div>
							</div>
						</header>
					</div>
					<div class="modal-body">
						<div class="input-group col-xs-12 email-popup-input-container">
							<div class="col-xs-2 col-lg-1 email-popup-label-container">
								<label for="Tomail" class="email-popup-label">To:</label>
							</div>
							<div class="col-xs-10 col-lg-11 email-popup-input-wrapper">
								<input type="email" class="form-control" id="Tomail"
									placeholder="" required="required"
									data-message="Please enter the TO mail address">
							</div>
						</div>
						<div class="input-group col-xs-12 email-popup-input-container">
							<div class="col-xs-2 col-lg-1 email-popup-label-container">
								<label for="Copymail" class="email-popup-label">Cc:</label>
							</div>
							<div class="col-xs-10 col-lg-11 email-popup-input-wrapper">
								<input type="email" class="form-control" id="Copymail"
									placeholder="" value="">
							</div>
						</div>
						<div class="input-group col-xs-12 email-popup-input-container">
							<div class="col-xs-2 col-lg-1 email-popup-label-container">
								<label for="Bccmail" class="email-popup-label">Bcc:</label>
							</div>
							<div class="col-xs-10 col-lg-11 email-popup-input-wrapper">
								<input type="email" class="form-control" id="Bccmail"
									placeholder="">
							</div>
						</div>
						<div class="input-group col-xs-12 email-popup-input-container">
							<div class="col-xs-2 col-lg-1 email-popup-label-container">
								<label for="Subjectmail" class="email-popup-label">Subject:</label>
							</div>
							<div class="col-xs-10 col-lg-11 email-popup-input-wrapper">
								<input type="text" class="form-control" id="Subjectmail"
									placeholder="">
							</div>
						</div>
						<div class="input-group col-xs-12 email-popup-body-container">
							<div class="col-md-2 col-lg-1 email-popup-label-container">
								<label for="SubjectBodymail" class="email-popup-label"></label>
							</div>
							<div class="col-xs-12 col-md-10 col-lg-11 email-popup-subject-wrapper">
								<div class="email-popup-subject-container"
									contenteditable="true" id="SubjectBodymail" placeholder="">
									<div id="req-body">
										<strong id="req-type">Notification Type:</strong><span>&nbsp;</span><span
											id="req-details"></span>
									</div>
									<div class="email-popup-finance">
										<span>Financial Professional</span><span>&nbsp;</span><span
											class="email-italic">(Type your message here):</span>
									</div>
									<div class="show" id="mail-content">
										<!--<br /> <br /> <br /> <br /> <br />-->
									</div>
									<div class="suit-content omissionDetail hide">
										<h4>Additional Details:</h4>
										<div class="hide" id="missing-details">
											<span></span>
										</div>
										
										<table class="omissionTable" border="0" cellspacing="0" cellpadding="0">

										</table>
										
									</div>
									
									<div class="suit-details-block hide">
										<h4>Additional Details:</h4>
										<!--<ul class="pending">
      
    </ul>-->
										<table class="pending">
											<thead class="suit-header">
												<th class="priorityWrapper">
													<div class="priority">Priority</div></th>
												<th class="descrWrapper">
													<div class="descr">Description</div></th>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
									<div class="business-list-container hide">
										<h4>Additional Details:</h4>
										
										<table border="0" cellspacing="0" cellpadding="0">
										<tbody>
										<tr>
										<td class="email-popup-policy" ><strong>Policy Contract# </strong></td>
										<td class="email-popup-policy-con"><span></span></td>
										</tr>
											<tr>
										<td class="email-popup-lob"><strong>Line of Business </strong></td>
										<td class="email-popup-lob-con"><span></span></td>
										</tr>
											<tr>
										<td class="email-popup-prod"><strong>Product </strong></td>
										<td class="email-popup-prod-con"><span></span></td>
										</tr>
										<tr>
										<td class="email-popup-face"><strong>Face Amount </strong></td>
										<td class="email-popup-face-con"><span></span></td>
										</tr>
										</tbody>
										</table>
										 
									 
										
									</div>
									<!-- End of the Email Body -->
								</div>


							</div>
							
						</div>
					</div>
					<div class="modal-footer email-popup-send-container">
								<span class="btn btn-default email-popup-cancel"
									data-dismiss="modal">Cancel</span> <span
									class="btn btn-primary email-popup-send" id="send_mail">Send</span>

							</div>
				</div>

			</div>
		</div>
	</div>

	<div id="successModal" class="modal fade email-success-popup">
		<div class="modal-dialog email-success-popup-wrapper">
			<div class="modal-content email-success-popup-container">
				<div class="modal-body text-center email-popup-success-msg">
					<strong>Your email has been sent</strong>
				</div>
				<div class="modal-footer email-popup-successsend-container">
					<span class="btn btn-default email-popup-successsend"
						data-dismiss="modal">OK</span>
				</div>
			</div>
		</div>
	</div>

	<div id="emailValidModal" class="modal fade email-success-popup">
		<div class="modal-dialog email-success-popup-wrapper">
			<div class="modal-content email-success-popup-container">
				<div class="modal-body text-center email-popup-success-msg">
					<strong>Please enter valid email address in TO</strong>
				</div>
				<div class="modal-footer email-popup-successsend-container">
					<span class="btn btn-default" id="emailValidModalOKBtn" data-dismiss="modal">OK</span>
				</div>
			</div>
		</div>
	</div>
	<div id="noPrintModal" class="modal fade email-success-popup">
		<div class="modal-dialog email-success-popup-wrapper">
			<div class="modal-content email-success-popup-container">
				<div class="modal-body text-center email-popup-success-msg">
					<strong>No data available for Print</strong>
				</div>
				<div class="modal-footer email-popup-successsend-container">
					<span class="btn btn-default email-popup-successsend"
						data-dismiss="modal">OK</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Print Modal -->
	<div id="printWrapper" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header email-popup-header-wrapper clearfix">

					<header class="menuBar col-xs-12">
						<div class="row">
							<!-- body content //-->
							<div class="col-xs-4 col-lg-3">
								<div class="axaLogo">
									<!-- <a href="/axae/myportal/rad/" class="ui-link"> -->
										<img src="../img/logo-AXA.png" />
									<!-- </a> -->
								</div>
							</div>
							<div class="col-xs-8 col-lg-9 email-popup-head-right">
								<span class="pull-right">Business Tracker</span>
							</div>
						</div>
					</header>
				</div>
				<div class="modal-body">
					<h3 class="text-center">
						<span id="printPopUpheader"></span><span class="hide" id="printBy">&nbsp;by&nbsp;</span><span
							id="printFor">&nbsp;for&nbsp;</span><span id="printName"></span>
					</h3>
					<h4 class="text-center">
						<span>Total Records &nbsp;</span><span id="printTotal"> </span>
					</h4>
					<div class="print-pop-up-top-buttons-wrapper">
						<div class="text-center print-pop-up-top-buttons">
							<button type="button" data-role="none"
								class="btn btn-default printBtn">Print</button>
							<button type="button" data-role="none" class="btn btn-primary"
								data-dismiss="modal">Close</button>
						</div>
					</div>
					<div id="printContainer" class="print-container"></div>
				</div>
				<div class="modal-footer print-close-footer">
					<!--<div class="text-center print-pop-up-bottom-buttons">
						<button type="button" data-role="none"
							class="btn btn-default printBtn">Print</button>
						<button type="button" data-role="none" class="btn btn-primary"
							data-dismiss="modal">Close</button>
					</div>-->
					
					<div class="print-footer">
            <div id="footerCopyright">
                <!--<div class="row">
                    <div class="container">-->
                        <div class="mainContent col-xs-12">
                            <p class="txt-sm">© 2014 AXA Equitable Life Insurance Company
                                <span class="greyVertRule"></span> 1290 Avenue of the Americas, New York, NY 10104
                                <br>
                                    <a href="/about-axa/privacy.html" class="ui-link">Online Privacy and Security Statement</a>
                                    <span class="greyVertRule"></span>
                                    <a href="/about-axa/usage.html" class="ui-link">Usage Agreement</a>
                                     <span class="greyVertRule"></span>
                                    <a href="/axae/myportal/rad/help/contactus" class="ui-link">Contact Us </a>
                                     <span class="greyVertRule"></span>
                                    <a href="/axae/myportal/rad/help/faq" class="ui-link">Help</a>
                                </p>
                            </div>
                        <!--</div>
                    </div>-->
                </div>
        </div>
				</div>
			</div>
		</div>
	</div>
	<!--<script type="text/javascript" src="../lib/jquerymobile/jquery.mobile.min.js"></script>-->
	<!--script type="text/javascript">-->
	<!--	jQuery.mobile.ajaxEnabled = false;-->
 <!--       jQuery.mobile.linkBindingEnabled = false; -->
 <!--       jQuery.mobile.hashListeningEnabled = false; -->
 <!--       jQuery.mobile.pushStateEnabled = false; -->
 <!--       jQuery.mobile.changePage.defaults.changeHash = false;-->
	<!--</script>-->